<!-- <angular-image-slider [images]="imagesUrl"
[autoRotate]="true"></angular-image-slider> -->

    <div class="slide ">
        <slideshow [imageUrls]="[
    'https://images.pexels.com/photos/1036856/pexels-photo-1036856.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260',
    'https://images.pexels.com/photos/1441653/pexels-photo-1441653.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260',
     'https://images.pexels.com/photos/626986/pexels-photo-626986.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260',
    'https://images.pexels.com/photos/1087727/pexels-photo-1087727.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260']"
            [height]="height" [minHeight]="'300px'" [height]="height" [backgroundSize]="true" [autoPlay]="true"
            [showArrows]="false">
        </slideshow>
        <button style="width: 17%" class="btn btn-primary inside-picture">Best sells categories</button>
        <a href="/departments" class="btn btn-default inside-picture inside-picture-light">Explore</a>
    </div>




<style>
    .slide {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        /* Preserve aspet ratio */
        min-width: 100%;
        min-height: 100%;
        
    }

    .inside-picture {
        position: relative;
        margin-left: 1%;
        top: -50px;
        color: white;
        font-size: larger;
        border: 2px solid cornflowerblue;
        font-family: sans-serif;
        background-color: transparent;
        

    }

    .inside-picture-light {
        border: 2px solid cornsilk;

    }
</style>