<div class="home-container">
    <app-home-slider></app-home-slider>
    <app-home-department-list></app-home-department-list>

    <div class="main-container section row">
        <div class="block_container">   
            <div class="bloc1">
                <i class="fas fa-fire" style="color: #ffcba8;"></i> Popular Products
            </div>
            <div class="bloc2">
                <a href="/products/Electronics/all"   style="color: gray;margin-right: 1vh;">See all</a>
                     <i class="fas fa-angle-right"></i>
            </div>
    
        </div>
        <div class="products col-md-3" *ngFor="let product of products">
            <a href="http://localhost:4200/product/Details/{{product.id}}">
            <div class="product-card">
                <div class="product-name col-md-12">
                    {{product.name}}
                </div>
                <div class="product-image col-md-12">
                    <img height="145vh"
                        src="../../../../assets/images/product/product-list/{{product.image1}}" alt="">
                </div>
            </div>
        </a>
        </div>
    </div>

</div>

<app-footer></app-footer>

