
<div class="container">
    <h2><i class="fas fa-tags"></i> Departments</h2>
    <div class="row" style="margin-top:3%;" >
            <div style=" margin-bottom:2vh;" class="col-md-3" *ngFor="let dept of departments">
                <div style="position: absolute
            ;top: 45%;
            left: 17%;
            font-size: 3vh;
            color: black;
            font-weight: bold;
            font-family: Trebuchet MS;">
                    {{dept.depName}}
                </div>
                <a  [routerLink]="['/products', dept.depName,'all']">
                <img  style="width: 28vh;height: 28vh; opacity: 0.4;
                border-top-left-radius: 25%;
                border-bottom-right-radius: 25%;" src="{{dept.image}}">
                </a>
            </div>
        
    </div>
</div>